---
layout: default
---
<div id="main-wrap-wider">
    <div id="content-wider">
        <center>
            <div id="post">
                <p id="tip-info"><a href="{{ post.url }}" title="Post link">{{ page.title }}</a></p>
                <p id="tip-info">{{ page.date | date:"%B %e, %Y @ %I:%M %p" }}</p>
                <div class="box">
                    <div class="box-content">
                        {{ content }}
                    </div>
                </div>
                <p></p>
            </div>
        </center>
    </div>
</div>
