---
layout: default
---
<div id="main-wrap-wider">
    <div id="content-wider">
        <center>
            <p id="tip-info"><a href="{{ post.url }}" title="Post link">{{ page.title }}</a></p>
            <p id="tip-info">{{ page.date | date:"%B %e, %Y @ %I:%M %p" }}</p>
            {{ content }}
            <p></p>
        </div>
        <wb:share-button appkey="3776559574" addition="number" type="button"></wb:share-button>
        <div id="tip-comments">	
            <p id="tip-info" style="margin:0em 0em 0em 0em">Related Posts</p>
            <ul>
                {% for post in site.related_posts limit:3 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; {{ post.date | date:"%B %e, %Y" }}</li>
                {% endfor %}
            </ul>
        </div>
    </center>
</div>
</div>
